:root{
  --color1:#5A2D30;
  --color2:#514C52;
  --color3: #025A5E;
  --color4: #006E75;
  --color5: #62EFFF;

  --fondo: #E7E8FF;
  --texto: --color1;
}

h1{
  color: var(--color1);
}
.img-bg{
  background-image: url("../../img/FondoClaro.png");
}
