.btn-elegir-tema {
    background: var(--color2);
    color: var(--color6);
}

.btn-elegir-tema:hover {
    background: var(--color3);
    color: var(--color6);
}

.card {
    background: var(--color6);
}

.alto-card {
    height: 35rem;
}

h4 {
    color: var(--color1);
}

.campos-perfil {
    background: var(--color2);
    color: var(--color6);
}

.linea-campos {
    border-bottom: 2px solid var(--color2);
}

p {
    color: var(--color1);
}

.boton-editar-perfil {
    background: var(--color6);
    color: var(--color2);
    border: 1px solid var(--color2);
}

.boton-editar-perfil:hover {
    background: var(--color2);
    color: var(--color6);
    border: 1px solid var(--color2);
}

.recompensa {
    width: 2rem;
    height: 2rem;
}

.tag {
    background: var(--color3);
    color: var(--color6);
}

.titulo-recompensa-tag {
    color: var(--color1);
}

.form-control {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid var(--color5);
}

.form-control:hover {
    outline: none;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid var(--color3);
}

.form-control:focus {
    outline: none;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid var(--color3);
}
.form-control-error{
  border-radius: 0px;
  border:none;
  border-bottom:1px solid red;
}
.form-control-error:hover{
  outline: none;
  border-radius: 0px;
  border:none;
  border-bottom:1px solid red;
}

.form-control-error:focus{
  outline: none;
  border-radius: 0px;
  border:none;
  border-bottom:3px solid red;
}

.modal-content {
    background: var(--color5);
    border-radius: 4rem 4rem 4rem 4rem !important;
}

.modal-header {
    background: var(--color3);
    color: var(--color6);
    border-radius: 2rem 2rem 0 0;
}

.btn-submit {
    background: var(--color2);
    color: var(--color6);
}

.btn-submit:hover {
    background: var(--color3);
    color: var(--color6);
}

.btn-danger:hover {
    background: var(--color7);
    border-color: var(--color7) !important;
}

.modal-footer {
    border-top-color: var(--color1);
}

.select-tema {
    border-color: var(--color2);
    color: var(--color2);
}

.gutters-sm {
    background-color: #FBFBFD;
}

.campos-perfil h6{
  color:white;
  margin-top: 3px;
}

@media only screen and (max-width: 1115px) {
    /* For mobile phones: */
    .contenedor-botones button, .contenedor-botones a {
        background: blue!important;
    }
}

@media only screen and (max-width: 760px) {
    /* For mobile phones: */
    .elemento-boton-perfil {
        margin-bottom: 1rem !important;
    }

    .contenedor-datos {
        margin-bottom: 10px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

