<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-pic-first" aria-hidden="true"  alt="carrousel 5"></div>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Un grupo a tu medida.</h1>
          <p>Busca integrantes y crea tu grupo, o úneteles.</p>
          <p><button [routerLink]="['/register']" class="btn btn-lg p-2 main-btn" href="#">Regístrate hoy. ¡Es gratis!</button></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-pic-second" aria-hidden="true"  alt="carrousel 4"></div>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Le damos la bienvenida a su cuenta de IUmach.</h1>
          <p>Administre la información de la cuenta, de su grupo y la configuración de herramientas para sacar el máximo partido a IUmach.</p>
          <p><button [routerLink]="['/login']" class="btn btn-lg p-2 main-btn px-4" href="#">¡Ingresa ya!</button></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-pic-third" aria-hidden="true"  alt="carrousel 2"></div>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1 class="allInOne">¡Todo en uno!</h1>
          <p class="allInOne">IUmach es un conjunto de aplicaciones que te ayudan a mantenerte conectado y trabajar.</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
